<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Job</title>
</head>
<body>
<h2>Add Job</h2>

<form action="#">
    <label for="company">Company Name:</label>
    <input type="text" id="company" name="company" required><br>

    <label for="jobTitle">Job Title:</label>
    <input type="text" id="jobTitle" name="jobTitle" required><br>

    <label for="link">Link:</label>
    <input type="url" id="link" name="link"><br><br>

    <button type="submit">Add Job</button>
    <button type="button" onclick="window.location.href='http://localhost:8080/'">Return</button>
</form>

</body>
</html>
