<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Job</title>
</head>
<body>
<h2>Add Job</h2>

<form action="#" method="post" th:action="@{/add-job}" th:object="${jobModelAttribute}">
    <label>Id:</label>
    <input type="text" th:field="*{Id}" required><br>

    <label>Date:</label>
    <input type="text" th:field="*{Date}" required><br>

    <label>Company Name:</label>
    <input type="text" th:field="*{Company_Name}" required><br>

    <label>Job_Title:</label>
    <input type="text" th:field="*{Job_Title}" required><br>

    <label>Link:</label>
    <input type="text" th:field="*{Link}" required><br>

    <label>through_whom:</label>
    <input type="text" th:field="*{through_whom}" required><br>

    <label>Comments:</label>
    <input type="text" th:field="*{Comments}" required><br>


    <button type="submit" value="ADD">Add Job</button>
    <button type="button" onclick="window.location.href='http://localhost:8080/'">Return</button>
</form>

</body>
</html>
